<div ng-controller="carInfoController as sc">
    <button ng-click="sc.tireBtn()" class="btn btn-group btn-rounded btn-primary">Tires</button>
    <div ng-repeat="display in sc.carInfoArray.tires">
        <div>Tire: {{display.location}}</div>
        <div>Air Pressure: {{display.pressure}}</div>
    </div>
    <div ng-if="sc.carInfoArray.fuel.range">Fuel: {{sc.carInfoArray.fuel.range}}</div>
    <div ng-if="sc.carInfoArray.location.latitude">Latitude: {{sc.carInfoArray.location.latitude}} </div>
    <div ng-if="sc.carInfoArray.location.longitude">Longitude: {{sc.carInfoArray.location.longitude}}</div>
    <div ng-if="sc.carInfoArray.odometer.distance">Distance: {{sc.carInfoArray.odometer.distance}}</div>
</div>
