<div ng-controller="carInfoController as cc">
    <div ng-repeat="display in cc.carInfoArray.tires">
        <div>Tire: {{display.location}}</div>
        <div>Air Pressure: {{display.pressure}}</div>
    </div>
    <div ng-if="cc.carInfoArray.fuel.range">Fuel: {{cc.carInfoArray.fuel.range}}</div>
    <div ng-if="cc.carInfoArray.location.latitude">Latitude: {{cc.carInfoArray.location.latitude}} </div>
    <div ng-if="cc.carInfoArray.location.longitude">Longitude: {{cc.carInfoArray.location.longitude}}</div>
    <div ng-if="cc.carInfoArray.odometer.distance">Distance: {{cc.carInfoArray.odometer.distance}}</div>
    <div ng-if="cc.carInfoArray.isLocked.isLocked">Car Locked: {{cc.carInfoArray.isLocked.isLocked}}</div>
</div>
